export const msalConfig = {
    auth: {
        clientId: '<your-client-id>',
        authority: 'https://login.microsoftonline.com/<your-tenant-id>',
        redirectUri: '<your-redirect-uri>',
    },
};

export const loginRequest = {
    scopes: ['<your-api-scope>'],
};